<%= render partial: 'tasks/admin_task_list' %>

<script type="text/javascript" charset="utf-8">
    var status = 'Completed';
</script>

<!-- Build out react task list. -->
<div id="content-container">
  <div id="mountTaskListComponent" class="container"></div>
</div>

<!-- PAGE WRAP -->
<div id="page-wrap">

</div>
<!-- END / PAGE WRAP -->