<%= render partial: 'tasks/admin_task_list' %>

<!-- Build out react task list. -->
<div id="content-container">
  <div id="mountTaskListComponent" class="container"></div>
</div>

<!-- PAGE WRAP -->
<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <!-- END / PRELOADER -->
</div>
<!-- END / PAGE WRAP -->