<%= render partial: 'tasks/admin_task_list' %>

<script type="text/javascript" charset="utf-8">
    var status = 'In Progress';
</script>

<!-- Build out react task list. -->
<div id="content-container" class="top-sort-bar">

  <div class="row">
    <div class="col-xs-11">
      <div class="sort-container button-date">
        <div class="calendar-icon">
          <div class="nav-action-label">Date</div>
          <%= image_tag "calendar.png" %>
        </div>
      </div>
      <div class="sort-container button-priority">
        <div class="priority-icon">
          <div class="nav-action-label">Priority</div>
          <%= image_tag "priority.png" %>
        </div>
      </div>
    </div>
  </div>

  <div id="mountTaskListComponent" class="container"></div>
</div>

<!-- PAGE WRAP -->
<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <!-- END / PRELOADER -->
</div>
<!-- END / PAGE WRAP -->